<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EnoGateway.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EnoGateway.Properties.Settings>
            <setting name="SerialComPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="MulticastAddress" serializeAs="String">
                <value>239.0.0.222</value>
            </setting>
            <setting name="MulticastPort" serializeAs="String">
                <value>2222</value>
            </setting>
            <setting name="ListeningPort" serializeAs="String">
                <value>2223</value>
            </setting>
            <setting name="ArchiveFilePath" serializeAs="String">
                <value>C:\EnoSolution\Files\</value>
            </setting>
        </EnoGateway.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
